{% extends "home.html" %}
{% block content %}
{% for item in data.0 %}

<div id = "{{ item.review_id }}" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 " data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
              <div name = "next_page_state" class="hidden" style="display: none">{{ data.next_page_state }}</div>
              <div class="hidden" style="display: none">{{ item.review_id }}</div>

              <form action="{{ url_for('get_review') }}" method="POST">
              <h4 class="title">
                  <input type="hidden" name="reviewid"  value="{{ item.review_id }}">
                  <a>{{ item.movie}}</a>
              </h4>
                  <div class="hidden"><b>By: </b>{{ item.reviewer }}</div>
              <div class="rating"><b>Rating:</b> {{ item.rating}}</div>
            <p class="description">{{ item.review_summary }}</p>
              <button class="btn btn-light bi-justify-right" type="submit" value="submit" name="submit">View</button>
                  <script>
  // Get the div and form elements
  const div = document.getElementById('{{ item.review_id }}');

  // Attach a click event listener to the div
  div.addEventListener('click', function() {
    // When the div is clicked, find the submit button inside the form and click it
    const submitButton = div.querySelector('button[type="submit"]');
    submitButton.click();
  });
</script>
              </form>
          </div>
        </div>
{% endfor %}
<div>
    <form   action="{{ url_for('display_result') }}"   method="POST">
        <input name="search_value" type="hidden" value="{{ data.1 }}" placeholder="Search a movie" >
        <input name="page_state" type="hidden" value="{{ data.2 }}" placeholder="Search a movie" >
    <div class="input-group-append col-md-2 text-center">
      <button id= "search_movies" class="btn btn-secondary " type="submit" value="submit" >
        <i class="fa fa-search">Next</i>
      </button>
    </div>
     </form>
    </div>
{% endblock %}
