{% extends "index.html" %}
{% block body %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center " >
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <form   action="{{ url_for('display_result') }}"   method="POST">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center bottom-50" style="margin-bottom:2%">
          <h1>IMDB Movie Reviews Repository </h1>
          <h2 >Search Movies</h2>
        </div>
      </div>



<div class="d-inline-flex col-md-12">
    <div class="col-md-10" >
        <input name="search_value" type="text" class="form-control" placeholder="Search a movie" ></div>
    <div class="input-group-append col-md-2 text-center">
      <button id= "search_movies" class="btn btn-secondary " type="submit" value="submit" >
        <i class="fa fa-search ">Search</i>
      </button>
    </div>
    </div>
     </form>

        <div class="row icon-boxes overflow-scroll">
          {% block content %}
        {% endblock %}

      </div>
    </div>

      </div>


  </section><!-- End Hero -->
{% endblock %}